body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 14px;
	font-family: "arial, helvetica, sans-serif";
	border: 0;
}
#lanren #audio-btn1{width: 34px;height: 34px; border-radius: 17px;background-size: 100% 100%;position: absolute;z-index: 10000; -webkit-tap-highlight-color:rgba(0,0,0,0);}
#lanren .on{background: url(../img/music_on.jpg) no-repeat 0 0;-webkit-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
#lanren .off{background: url(../img/music_off.jpg) no-repeat 0 0;}
@-webkit-keyframes rotating {
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
    	transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.all_background{
	padding: 10px 20px 0 20px;
	background-color: #ecebf1;
}
.header{
	height: 136px;
	background-color: white;
	overflow: hidden;
	margin-bottom: 5px;
	box-shadow: 0 2px 4px 0 #d9d9d9;
}
.threeColor p{
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	height: 22px;
	width: 100%;
}
.threeColor .blackcolor{
	background-color: black;
}
.threeColor .redcolor{
	background-color: red;
}
.threeColor .yellowcolor{
	background-color: yellow;
}
.header .trademark{
	float: left;
	width: 16%;
	margin-left: 10px;
}
.header .trademark .logo{
	background: url(../img/football.jpg) center no-repeat;
	height: 60px;
    width: 135px;
        margin: 5px 0;
    background-size: cover;
}
.header .list{
	float: left;
	width: 60%;
	top: 25px;
    position: relative;
}
.list div{
	width: 14%;
	float: left;
	font-size: 16px;
	text-align: center;
}
.list div a{
	text-decoration: none;
	color: black;
}
.list div a:hover{
	color: orangered;
}
.footer{
	position: fixed;
	bottom: 0;
	height: 110px;
	width: 100%;
	background-color: mediumseagreen;
	opacity: 0.9;
}
.footer .footer_top{
	height: 8px;
	width: 100%;
	background-color:lightgray ;
}
.footer .footer_section{
	padding: 10px 30px 0 30px;
	overflow: hidden;
	height: 90px;
	width: 100%;
}
.footer .footer_section .footetext{
	float: left;
}
.footetext a{
	height: 20px;
    line-height: 20px;
    margin-left: 16px;
}
.footer  p{
	height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.saomiao_name{
	position: absolute;
	top: 10px;
	color: white;
}
.pic_items{
	overflow: hidden;
	height: 420px;
	position: relative;
	margin-top: 10px;
}
.pic_items .img_loop{
	width: 100%;
	background-size: cover;
}
.pic_items .arrow-left {
  background: url(../img/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 56px;
  z-index: 5;
  background-position-y: 2px;
  background-size: cover;
}
.pic_items .arrow-right {
  background: url(../img/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 56px;
  z-index: 5;
  background-position-y: -52px;
  background-size: cover;
}
.pic_items a{
	color: white;
}
.pic_items .wenzi{
	position: relative;
    bottom: 55px;
    font-size: 22px;
    color: white;
        left: 10%;
}
.pagination {
  position: relative;
  left: 0;
  text-align: center;
  bottom:25px;
  width: 100%;
  z-index: 5;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.products{
	margin-top:10px ;
	overflow: hidden;
    min-height: 445px;
    position: relative;
}
.products .article{
	float: left;
	overflow: hidden;
	position: relative;
	padding: 10px;
	margin-right:5px ;
	display: block;
	width: 300px;
	height: 270px;
	background-color: white;
	margin-bottom: 10px;
	box-shadow: 0 2px 4px 0 #D9D9D9;
}
.products .products_details{
	padding: 5px;
}
.products .products_details .details_info{
	margin: 5px 0;
	font-size: 12px;
	word-break: break-all;
	color: #999999;
	overflow: hidden;
	line-height: 1.5;
}
.products .products_details .details_title{
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	margin: 5px 0;
}
.left{
	float: left !important; 
}
.right{
	float: right !important;
}
.products_title{
	height: 30px;
	font-size: 26px;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 5px;
}
.products_title .gengduo{
	color: dodgerblue;
	font-size: 20px;
	text-decoration: none;
}
.content_back{
	background-color: white;
}
.content_img{
	width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}
.content_name{
	font-size: 25px;
    text-align: center;
    margin: 10px 10%;
    font-weight: bold;
}
.content_all{
	margin: 30px;
}
.content_all p{
	font-family: DFBSansWeb-Regular,sans-serif;
    text-rendering: optimizeLegibility;
    color: #333;
    font-size: 15px;
    line-height: 26px;
    text-indent: 2em;
}
.footballintroduce{
	padding: 20px;
	background-color:wheat;
	overflow-x:hidden ;
}
.football_head{
	width: 100%;
	display: flex;
}
.football_head .football_head_logo{
	float: left;
	width: 300px;
	padding-left:40px ;
	height: 350px;
	    margin-right: 40px;
}
.football_head .football_head_logo img{
	width: 190px;
    height: 320px;
    float: left;
	background-size: cover;
}
.football_head .football_head_tro p{
	text-indent: 2em;
	margin-left: 18px;
	font-size: 16px;
	line-height: 1.5;
}
.football_head_tro .football_head_tro_title{
	font-size: 22px;
	font-weight: bold;
	    margin-left: 16px;
}
.football_midl_title{
	height: 30px;
	width: 150px;
	background-color: burlywood;
	 line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    border-top-right-radius: 30px;

}
.football_midl .football_midl_line{
	width: 90%;
	border: 1px solid black;
}
.football_midl .football_midl_all{
	margin-left: 35px;
	font-size: 16px;
}
.football_midl .football_midl_all p{
	line-height: 1.5;	
}
.shijiebei{
	margin: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.shijiebei .nianfen{
	font-size: 16px;
	font-weight: normal;
	margin-left: 5px;
}
.qiuyi_content{
	width: 65%;
	    margin-right: 15px;
}
.qiuyi_content p{
	text-indent: 2em;
}
.qiuyi_img{
	margin-top: 20px;
}
.miaodian{
	width: 40px;
    height: 37px;
    background-color: #999;
    position: fixed;
    z-index: 10001;
    bottom: 110px;
    right: 25px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    color: white;
}
.teamNum{
	background-color: #333;
	width: 100%;
	min-height: 415px;
}
.teamNum .teamNum_topimg{
}
.teamNum_topimg img{
	    box-shadow: 0 3px 4px 0 #d9d9d9;
    height: 250px;
    width: 98%;
    overflow-x: hidden;
    margin-left: 1%;
}
.teamNum_tro{
	font-size: 22px;
	    color: honeydew;
	        margin: 5px 15px 0;
}
.teamNum_header{
	width: 100%;
    height: 822px;
    margin: 10px 20px 10px;
}
.teamNum_img{
	width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
    box-shadow: 0 3px 4px 0 gray;
}
.teamNum_header img{
	width: 100%;
}
.teamNum_img_name{
	font-size: 18px;
	position: relative;
	bottom: 25px;
    left: 5px;
    color: chocolate;
}
