<div class="products" id="pageMain" ng-show="pageMain">
	<div class="products_title">
		<div class="left">最新资讯:</div>
		<div class="right">
			<a href="http://www.dfb.de/news/" target="_blank" class="gengduo">更多>></a>
		</div>
	</div>
	<div class="products_lists">
		<div class="article" ng-repeat="pages in pagesList">
			<div class="products_details" style="display: block;">
				<img width="100%" height="200px" src="{{pages.src_img}}" />
				<div class="details_title">{{pages.name}}<span class="details_info"><a href="javascript:void(0);" ng-click="changePage(pages)" style="text-decoration: none;"> >> </a></span></div>
			</div>
		</div>
	</div>
</div>
<div class="content_back">
	<div id="page1" ng-show="page1">
		<img class="content_img" src="img/News1.jpg" />
		<div class="content_name">{{name1}}</div>
		<div class="content_all">
			<p>Als Torwarttrainer der deutschen Nationalmannschaft hat Andreas Köpke ein Problem, das in Wahrheit ein großer Luxus ist. Die Qualität deutscher Torhüter ist hoch, traditionell und aktuell. Welttorhüter Manuel Neuer fehlt, gleichwohl können der Europameister von 1996 und Bundestrainer Joachim Löw unter Weltklasse wählen. Im DFB.de-Interview spricht Andreas Köpke vor dem WM-Qualifikationsspiel gegen San Marino in Nürnberg am Samstag (ab 20.45 Uhr, live bei RTL) mit Redakteur Steffen Lüdeke über die aktuelle Situation der deutschen Torhüter und seine Verbundenheit mit Nürnberg und Franken.

DFB.de: Herr Köpke, Kapitän Neuer steht wegen seiner Verletzung nicht im Kader fürs Spiel gegen San Marino und den Confed Cup in Russland. Wird es unter Marc-André ter Stegen, Bernd Leno und Kevin Trapp eine klare Nummer eins geben?

Andreas Köpke: Unser Ziel ist es, einen erfolgreichen Confed Cup zu spielen. Wenn wir das schaffen, haben wir in Russland insgesamt fünf Spiele. Diese Situation müssen wir nutzen, um alle drei Torhüter zum Einsatz zu bringen.

DFB.de: Warum ist das so wichtig?

Köpke: Durch die herausragende Rolle von Manu haben wir die Konstellation, dass alle drei Torhüter noch Potenzial haben, was die Zahl ihrer Länderspiele betrifft. Manuel will immer spielen, erst recht als Kapitän. Das ist positiv, führt aber dazu, dass die anderen Torhüter weniger zum Zuge kommen. Insofern ist der Confed Cup für alle drei eine gute Möglichkeit, Erfahrungen zu sammeln. Bei einem internationalen Turnier, in dem es um etwas geht - trotz aller Vorbehalte.

DFB.de: Inwieweit ist Ihr Torhüterteam mit Blick auf die WM im kommenden Jahr festgelegt? Gibt es neben ter Stegen, Leno und Trapp noch andere Kandidaten für die Plätze hinter Neuer?

Köpke: Die Tür ist immer offen. Wir wissen alle, wie schnell es gehen kann: Verletzungen, Formschwankungen, es kann viel passieren. Aber klar ist auch, dass diese vier Torhüter unser Vertrauen haben. Sie haben alle in der Champions League gespielt, sie haben Ihre Klasse auf höchstem Niveau nachgewiesen.

DFB.de: Sie haben also einen kleinen Vorsprung.

Köpke: Manu als Kapitän nehme ich da mal raus. Aber auch die anderen drei haben sich einen kleinen Vorteil erarbeitet, sonst hätten wir uns ja nicht für sie entschieden. Dennoch: Auch dahinter ist die Qualität hoch. Timo Horn, der bei den Olympischen Spielen die Silbermedaille geholt hat. Ralf Fährmann, der bei Schalke 04 auf hohem Niveau spielt. Oliver Baumann, der mit Hoffenheim die Champions-League-Qualifikation erreicht hat. Sowie Ron-Robert Zieler und Loris Karius, die eine schwere Saison hatten, die aber auch schon ihre Klasse nachgewiesen haben. Wer weiß, wie die Situation in einem Jahr ist. Deshalb ist es nicht sinnvoll, sich jetzt schön endgültig festzulegen!

DFB.de: Hat es Auswirkungen auf den Trainingsalltag, dass mit Manuel Neuer die klare Nummer eins diesmal nicht da ist?

Köpke: Es war auch bisher so, dass meine Torhüter in jedem Training immer Vollgas gegeben haben. Aber es stimmt, dass die Konstellation jetzt anders ist. Wenn Manu dabei ist, geht es für die anderen Torhüter auch darum, die Nummer eins zu unterstützen und ihr den Rücken freizuhalten. Diese Rolle wird von allen auch so akzeptiert. Jetzt ist es so, dass sich jeder Torhüter extrem zeigen will, um uns die Entscheidung, wer spielt, so schwer wie möglich zu machen.</p>
			
		</div>
	</div>
	<div id="page2" ng-show="page2">
		<img class="content_img" src="img/News2.jpg" />
		<div class="content_name">{{name2}}</div>
		<div class="content_all">
			<p>
				Das Länderspiel in der WM-Qualifikation gegen San Marino am Samstag (ab 20.45 Uhr, live bei RTL) in Nürnberg ist für die deutsche Nationalmannschaft zugleich der letzte Testlauf vor dem Confederations Cup in Russland. Zuvor spricht Nationalspieler Jonas Hector und Manager Oliver Bierhoff auf DFB.de über das ungleiche Duell und die Ziele bei der WM-Generalprobe.

JONAS HECTOR ÜBER...

... DAS 8:0 IN SAN MARINO: Es war sehr ungemütlich. Es hat geregnet, es war nicht sehr warm. Wir waren froh über ein frühes Tor. Für mich war es etwas Besonderes, zwei Tore geschossen zu haben. Ich weiß nicht, ob das so schnell wieder vorkommt.

... SEINE ROLLE ALS ERFAHRENER SPIELER: Ich bin jetzt einer mit den meisten Länderspielen. Kicken können alle, da brauche ich keinem etwas sagen. Aber im Hinblick auf die Abläufe kann ich dem ein oder anderen mit Rat und Tat zur Seite stehen.

... DIE INTEGRATION DER NEUEN: Die Debütanten haben ihre Rede schon gehalten. Gesungen hat keiner - leider. Wir haben uns schnell gefunden, es war sehr harmonisch. Die jungen Spieler kennen sich bereits aus den U-Mannschaften, deshalb gab es direkt einen regen Austausch. Es gab nach dem 1:1 in Dänemark kein großes Problem, auf den WM-Qualifikationsmodus umzuschalten. Wir freuen uns auf das Spiel am Samstag in der neuen Konstellation und auch auf die Trainingseinheiten, die helfen, um uns besser kennenzulernen.
			</p>
		</div>
	</div>
	<div id="page3" ng-show="page3">
		<img class="content_img" src="img/News3.jpg" />
		<div class="content_name">{{name3}}</div>
		<div class="content_all">
			<p>
				Nationalspieler Mario Gomez bleibt dem Bundesligisten VfL Wolfsburg treu. Der 31 Jahre alte Angreifer trägt auch in der Saison 2017/2018 das Trikot der Wölfe. Dies hat der VfL am heutigen Freitag mitgeteilt. Gomez, der mit 16 Saisontoren maßgeblichen Anteil am Klassenverbleib der Niedersachsen hatte, besitzt dort einen Vertrag bis 2019.

"Trotz der sehr schwierigen Saison, in der wir alle unsere sportlichen Ziele verfehlt haben, habe ich das komplette Vertrauen in unsere Mannschaft, den Verein und die Fans", sagt Gomez. "Ich habe mich daher aus voller Überzeugung entschieden, auch nächstes Jahr hier zu spielen. Zudem weiß ich, dass ich mich hier in diesem Umfeld bestmöglich für die Weltmeisterschaft im kommenden Jahr vorbereiten kann."

Wolfsburg will um Gomez nach der Last-Minute-Rettung in der Relegation eine neue Mannschaft aufbauen. Gomez sei "in den schwierigen Monaten, die hinter uns liegen, immer vorneweg gegangen und wurde so auch zu einem wichtigen Gesicht des VfL Wolfsburg", sagt VfL-Sportchef Olaf Rebbe nach einem Gespräch mit dem Stürmer. "Mario hat sich klar zum VfL bekannt, und wir alle freuen uns sehr, dass wir gemeinsam in der kommenden Saison neu angreifen können."

[sid]
			</p>
		</div>
	</div>
	<div id="page4" ng-show="page4">
		<img class="content_img" src="img/News4.jpg" />
		<div class="content_name">{{name4}}</div>
		<div class="content_all">
			<p>Die Entscheidung über einen der beiden Teilnehmer am Endspiel um die Deutsche B-Junioren-Meisterschaft fällt am Sonntag (ab 11 Uhr, live auf DFB-TV) auf dem Trainingsgelände des Bundesligisten Borussia Dortmund im Ortsteil Brackel (Hohenbuschei). Dort treten die U 17-Mannschaften des BVB, Vizemeister in der West-Staffel der B-Junioren-Bundesliga, und des Nord/Nordost-Titelträgers SV Werder Bremen zum Halbfinalrückspiel gegeneinander an. Das Hinspiel in Bremen endete 1:1.

Anders sind die Voraussetzungen im zweiten Halbfinale zwischen dem FC Schalke 04 und dem FC Bayern München, das ebenfalls am Sonntag (ab 11 Uhr, live auf DFB-TV) steigt. Die Bayern treten mit einem recht komfortablen 3:0-Vorsprung auf dem Sportgelände der Gesamtschule Gelsenkirchen-Ückendorf an. Das Halbfinalrückspiel zwischen Dortmund und Bremen im DFB.de-Faktencheck.

DAS HINSPIEL: Vor 1725 Zuschauern auf Platz 11, unmittelbar neben dem großen Bremer Weserstadion gelegen, war Borussia Dortmund beim 1:1 im Hinspiel zunächst besser ins Spiel gekommen. Das erste Tor erzielten jedoch die Bremer. David Philipp (14.) schnappte sich den Ball nach einem Freistoßpfiff - und ließ BVB-Schlussmann Luca Unbehaun mit einem platzierten Schuss aus knapp 18 Metern keine Chance. Gleich nach der Pause gelang Dortmund mitten in einer Bremer Drangphase der Ausgleich. Plogmann brachte Yassin Ibrahim im Strafraum zu Fall. Den fälligen Elfmeter verwandelte Alaa Bakir (53.). Innerhalb von nur einer Minute hatte der BVB danach zweimal die Möglichkeit, das Spiel komplett zu drehen. Werder-Defensivspieler Patrick Osterhage (64.) klärte gegen Bakir auf der Linie, bei der folgenden Ecke schoss Florian Rausch (65.) aus kurzer Distanz über das Tor. Ähnlich erging es dem Bremer Spielführer Julian Rieckmann (76.) nach einem Eckball.

DIE AUSGANGSLAGE: Das Halbfinale wird im Pokalsystem ausgetragen. Das heißt: Besteht nach Austragung des Hin- und Rückspiels Punktgleichheit, so entscheidet die Tordifferenz. Steht auch hiernach kein Sieger fest, so wird dieser im Anschluss an das Rückspiel ohne Verlängerung durch Elfmeterschießen ermittelt. Die aus dem Europapokal bekannte Auswärtstor-Regelung kommt in diesem Fall nicht zur Anwendung. Einen Vorteil durch den Auswärtstreffer hat der BVB also nicht. Um das Finale nach der regulären Spielzeit zu erreichen, müssen die Dortmunder - ebenso wie der SV Werder - als Sieger vom Platz gehen. Fest steht: Der Gewinner des Duells Dortmund gegen Bremen muss im Finale auswärts ran. Gespielt wird dann entweder im Sportpark Heimstetten (Kirchheim bei München) oder im Lohrheidestadion Wattenscheid.

DAS SAGEN DIE TRAINER: "Für uns ist noch alles drin, die Entscheidung fällt erst am Sonntag", sagt Werder-Trainer Marco Grote. "Ich denke, die Zuschauer haben beim ersten Aufeinandertreffen ein gutes Juniorenspiel gesehen. Es hätte für uns besser, aber auch schlechter laufen können. Wir hatten in der ersten Halbzeit Vorteile, die Dortmunder in der zweiten Hälfte." BVB-Trainer Sebastian Geppert verteilte nach dem Hinspiel viel Lob. "Unser Plan ist voll aufgegangen. Trotz des Rückstandes haben wir nie den Kopf verloren und immer an uns geglaubt", so der 33-Jährige. "Es liegt allerdings erst eine Halbzeit hinter uns. Wir müssen am Sonntag noch einmal alles geben, um unseren Traum Wirklichkeit werden zu lassen. Bremen besitzt brutale Qualität."

DIE ERFOLGE: Bei den bisherigen Erfolgen im U 17-Bereich hat Borussia Dortmund deutlich die Nase vorn. Bereits sechsmal (1984, 1993, 1996, 1998 sowie 2014 und 2015) holte der BVB die Deutsche B-Junioren-Meisterschaft, stand insgesamt zwölfmal im Finale, zuletzt sogar dreimal in Serie. Nur Rekordsieger VfB Stuttgart (sieben Titel, 14 Endspiele) ist der Borussia dabei noch ein kleines Stück voraus. Die Dortmunder, die sich vor einem Jahr auch erst im Endspiel dem West-Konkurrenten Bayer 04 Leverkusen 0:2 geschlagen geben mussten, könnten also in diesem Jahr nach Titeln mit den Schwaben gleichziehen. Allerdings qualifizierte sich die Borussia diesmal nur als Vizemeister der West-Staffel für die Endrunde, lag neun Punkte hinter Schalke 04.

Als einziger der vier Endrundenteilnehmer wartet der SV Werder Bremen noch auf seine erste B-Junioren-Meisterschaft. Dreimal (1983, 1997 und 2011) erreichten die Grün-Weißen bislang das Finale, mussten sich aber jeweils geschlagen geben. In der regulären Saison schnitten die Grün-Weißen mit 25 Siegen aus 26 Saisonspielen (bei nur einer Niederlage/0:1 in Leipzig) von allen Bundesligisten mit Abstand am besten ab, dominierten die Nord/Nordost-Staffel vom ersten Spieltag an. Auch das Torverhältnis (94:13) war deutschlandweit herausragend.

HISTORISCHE CHANCE: Borussia Dortmund hat die Chance, einen historischen Triumph einzufahren. Seit Einführung der B-Junioren-Bundesliga zur Saison 2007/2008 ist es noch keinem Verein gelungen, in einem Jahr den Deutschen U 19- und U 17-Meister zu stellen. Der BVB besitzt zum zweiten Mal in Folge die Möglichkeit, dies zu ändern. Vor einigen Wochen verteidigten bereits die Dortmunder A-Junioren im Finale gegen den FC Bayern München (8:7 im Elfmeterschießen) den U 19-Titel (erstmals in der Geschichte der A-Junioren-Bundesliga). In der 2016/2017 hatte es für den BVB im U 19-Endspiel ein 5:3 gegen die TSG 1899 Hoffenheim gegeben. Die U 17, damals noch unter der Regie des aktuellen U 19-Trainers Benjamin Hoffmann, verpasste dagegen den Titel erst im Finale durch ein 0:2 gegen Bayer 04 Leverkusen. Am Sonntag wollen die Schwarz-Gelben zunächst einmal zum vierten Mal in Folge in das Endspiel einziehen.</p>
		</div>
	</div>
	<div id="page5" ng-show="page5">
		<img class="content_img" src="img/News5.jpg" />
		<div class="content_name">{{name5}}</div>
		<div class="content_all">
			<p>Das Zulassungsverfahren zur 3. Liga durch den Deutschen Fußball-Bund (DFB) ist abgeschlossen, das Teilnehmerfeld für die Saison 2017/2018 steht offiziell fest. Mit Ausnahme des TSV 1860 München haben alle sportlich qualifizierten Klubs, die sich für die 3. Liga beworben hatten, die Zulassung erhalten. Die Münchner hatten nach der verlorenen Relegation und dem damit feststehenden Abstieg aus der 2. Bundesliga die Frist zur Nachreichung weiterer nötiger Zulassungsunterlagen verstreichen lassen und werden daher nicht in der 3. Liga an den Start gehen.

Den freien Platz nimmt der SC Paderborn ein. Paderborn hatte in der Abschlusstabelle 2016/2017 den 18. Platz in der 3. Liga belegt und rückt nun statutengemäß als bestplatzierter sportlicher Absteiger nach. Zuletzt war dieser Fall im Jahr 2013 eingetreten, als Kickers Offenbach die Zulassung für die 3. Liga verweigert bekam und der SV Darmstadt 98 dadurch nicht absteigen musste.

Erstmals in der 3. Liga dabei ist der SV Meppen. Bei den anderen Aufsteigern aus der Regionalliga, FC Carl Zeiss Jena und SpVgg Unterhaching, handelt es sich um Rückkehrer. Beide Klubs haben bereits in der 3. Liga gespielt, ebenso wie die Absteiger aus der 2. Bundesliga, Karlsruher SC und FC Würzburger Kickers.

Rot-Weiß Erfurt: Immer schon dabei

Ältestes Mitglied der 3. Liga in der Saison 2017/2018 ist der FC Rot-Weiß Erfurt, der als einziger Verein seit Gründung der 3. Liga im Jahr 2008 ununterbrochen in der dritthöchsten deutschen Spielklasse vertreten ist. Komplettiert wird das aus 20 Mannschaften bestehende Teilnehmerfeld durch den 1. FC Magdeburg, FSV Zwickau, VfL Osnabrück, SV Wehen Wiesbaden, Chemnitzer FC, SC Preußen Münster, die SG Sonnenhof Großaspach, den VfR Aalen, die Sportfreunde Lotte, den Halleschen FC, F.C. Hansa Rostock, Fortuna Köln und den SV Werder Bremen II.

Mit dieser Besetzung geht die 3. Liga in ihre zehnte Saison. Der erste Spieltag ist für das Wochenende vom 21. bis 23. Juli 2017 vorgesehen. Der offizielle Spielplan der 3. Liga, der sich nach den am 29. Juni erscheinenden Spielplänen der Bundesliga und 2. Bundesliga richtet, wird in der ersten Juli-Woche veröffentlicht.</p>
		</div>
	</div>
	<div id="page6" ng-show="page6">
		<img class="content_img" src="img/News6.jpg" />
		<div>{{name6}}</div>
		<div class="content_all">
			<p>Heute wird Christian Wück 44 Jahre alt. An seinem Geburtstag blickt DFB.de auf sein Debüt im DFB-Pokal zurück. Bei seinem ersten Einsatz traf der damals 19-Jährige in der ersten Minute für den 1. FC Nürnberg. Seine Erfahrungen als junger Spieler kann der U 17-Nationaltrainer heute ideal an den DFB-Nachwuchs weitergeben.

Als Christian Wück mit dem Datum konfrontiert wird, ist er einen Moment lang verlegen - was äußerst selten vorkommt. „Was ich am 18. August 1992 gemacht habe?“, fragt er zurück. Er überlegt, kurze Pause. Keine Idee, ist schließlich auch schon 25 Jahre her. „Da müsst Ihr mir kurz auf die Sprünge helfen“, sagt der heutige DFB-Trainer im Bereich der U-Nationalmannschaften und lacht. Kein Problem.

Erster Pokaleinsatz nach 34 Bundesligaspielen

DFB-Pokal, Saison 1992/1993, erste Runde. Wück war gerade erst 19 Jahre alt geworden und hatte bereits 34 Bundesligapartien absolviert. Der Spieler vom 1. FC Nürnberg galt als ein sehr begabter Offensivakteur. Nun stand sein Debüt im DFB-Pokal bevor, just an jenem 18. August 1992. Und wie der Fußball mit seinen Geschichten und der Pokal mit seinen Gesetzen es eben so möchte, wurde es eine besondere Partie.

„Stimmt“, sagt Wück. „Jetzt weiß ich, worum es geht. Das Spiel war kaum angepfiffen, es lief noch die erste Minute, da hatten wir bereits das erste Tor geschossen.“ Korrekt - und der Torschütze hieß Wück. Erster Pokaleinsatz, erste Minute, erstes Tor. Kein schlechter Start. „Es war ein langer Ball nach dem Anstoß, und wir konnten sehr schnell zum Torerfolg gelangen“, sagt er. Am Ende siegte der 1. FC Nürnberg 7:1 beim TSV Osterholz-Tenever und zog in die zweite Runde ein. Erst im Viertelfinale war Endstation: nach einem 1:2 bei Hertha BSC.

Finale 1996: Mit dem KSC, aber ohne Wück

Mit Andreas Köpke, Hans Dorfner und Jürgen Kramny hatte Wück - damals noch nicht allzu lange bei den Profis dabei - erfahrene Spieler an seiner Seite. Besonders gut verstand er sich damals schon mit Teamkollege Rainer Zietsch, der zuletzt auch zu Wücks Trainerstab bei der U 17 des DFB gehörte. „Rainer war ein sehr erfahrener Spieler und hat mir als Ansprechpartner bei den Profis stets geholfen“, sagt Wück. „Grundsätzlich freut man sich immer wieder, wenn man seine ehemaligen Mitspieler trifft.“

Nach seiner Zeit in Nürnberg wechselte Wück zum Karlsruher SC. Mit den Badenern schaffte er es 1995/1996 bis in das Finale des DFB-Pokals. Der Titel blieb ihm allerdings verwehrt - der als Absteiger feststehende 1. FC Kaiserslautern siegte 1:0 gegen den KSC. Und Wück, der später noch für den VfL Wolfsburg und Arminia Bielefeld auflief, verpasste das Endspiel aufgrund einer Verletzung. Insgesamt absolvierte er 13 Partien im DFB-Pokal, 167 in der Bundesliga und 38 in der 2. Bundesliga.</p>
		</div>
	</div>
	<div id="page7" ng-show="page7">
		<img class="content_img" src="img/News7.jpg" />
		<div class="content_name">{{name7}}</div>
		<div class="content_all">
			<p>Nicht nur an den 22 Spieltagen wird in der Allianz Frauen-Bundesliga gearbeitet. Auf dem Trainingsplatz, in der medizinischen Abteilung und im Management ist 365 Tage im Jahr stets etwas los. Mit den DFB.de-Splittern sind die Fans aktuell informiert.

FF USV Jena: Die Thüringerinnen haben die kanadische Stürmerin Tiffany Cameron verpflichtet. Die 25-Jährige kommt vom Absteiger Borussia Mönchengladbach. Über die Vertragslänge machte der Verein keine Angaben. "Ich bin sehr froh, unseren ersten Neuzugang bald begrüßen zu dürfen", sagte Trainerin Katja Greulich über die sechsmalige Nationalspielerin: "Tiffany ist eine Spielerin, die unseren sportlichen Weg positiv beeinflussen wird."</p>
		</div>
	</div>
	<div id="page8" ng-show="page8">
		<img class="content_img" src="img/News8.jpg" />
		<div class="content_name">{{name8}}</div>
		<div class="content_all">
			<p>
				Acht Tage, 14 Trainingseinheiten, zwei Testspiele mit neun Toren - heute Mittag beendet die deutsche U 21-Nationalmannschaft ihr Trainingslager in Grassau am Chiemsee. Am kommenden Dienstag trifft sich die Mannschaft von DFB-Trainer Stefan Kuntz in Frankfurt wieder und fliegt am Mittwoch nach Krakau zur U 21-Europameisterschaft, die bis zum 30. Juni geht.

"Wir konnten uns unter optimalen Bedingen auf unser großes Ziel bei der EM vorbereiten", sagt Stefan Kuntz. "Die acht Trainingstage waren intensiv. Wir konnten alle Inhalte umsetzen, die wir uns vorgenommen hatten. Außerdem ist es uns gelungen, alle Spieler auf dasselbe Fitnesslevel zu bekommen. Kompliment ans Team, das voll mitgezogen hat. Jetzt können die Spieler noch mal drei, vier Tage im Kreise ihrer Freunde und Familie verbringen und den Kopf freibekommen, ehe wir uns wiedertreffen."

Öffentliches Training in Dreieich

Vor dem Abflug nach Polen absolviert die U 21 am Dienstag (ab 15.30 Uhr) ein öffentliches Training und einen Vereinsbesuch beim SC Hessen Dreiech. Die U 21-EURO startet am Freitag, 16. Juni. Am 18. Juni (ab 18 Uhr, live im ZDF) bestreitet die deutsche Mannschaft in Tychy ihr erstes Spiel in Gruppe C gegen Tschechien. Es folgen die Gruppenpartien am 21. Juni (ab 18 Uhr, live im ZDF) gegen Dänemark und gegen Italien am 24. Juni (ab 20.45 Uhr, live in der ARD). Beide Spiele finden in Krakau statt.

Fürs Halbfinale qualifizieren sich die Sieger aus den Gruppen A, B und C sowie der beste Zweite aus den drei Gruppen. Die Semifinalpartien werden am 27. Juni in Tychy und Krakau ausgetragen, das Finale steigt am 30. Juni (ab 20.45 Uhr, live in der ARD) in Krakau. Hier können Fans noch Tickets für alle 21 Partien der EM erwerben.
			</p>
		</div>
	</div>
	<div id="page9" ng-show="page9">
		<img class="content_img" src="img/News9.jpg" />
		<div class="content_name">{{name9}}</div>
		<div class="content_all">
			<p>Acht Tage, 14 Trainingseinheiten, zwei Testspiele mit neun Toren - heute Mittag beendet die deutsche U 21-Nationalmannschaft ihr Trainingslager in Grassau am Chiemsee. Am kommenden Dienstag trifft sich die Mannschaft von DFB-Trainer Stefan Kuntz in Frankfurt wieder und fliegt am Mittwoch nach Krakau zur U 21-Europameisterschaft, die bis zum 30. Juni geht.

"Wir konnten uns unter optimalen Bedingen auf unser großes Ziel bei der EM vorbereiten", sagt Stefan Kuntz. "Die acht Trainingstage waren intensiv. Wir konnten alle Inhalte umsetzen, die wir uns vorgenommen hatten. Außerdem ist es uns gelungen, alle Spieler auf dasselbe Fitnesslevel zu bekommen. Kompliment ans Team, das voll mitgezogen hat. Jetzt können die Spieler noch mal drei, vier Tage im Kreise ihrer Freunde und Familie verbringen und den Kopf freibekommen, ehe wir uns wiedertreffen."

Öffentliches Training in Dreieich

Vor dem Abflug nach Polen absolviert die U 21 am Dienstag (ab 15.30 Uhr) ein öffentliches Training und einen Vereinsbesuch beim SC Hessen Dreiech. Die U 21-EURO startet am Freitag, 16. Juni. Am 18. Juni (ab 18 Uhr, live im ZDF) bestreitet die deutsche Mannschaft in Tychy ihr erstes Spiel in Gruppe C gegen Tschechien. Es folgen die Gruppenpartien am 21. Juni (ab 18 Uhr, live im ZDF) gegen Dänemark und gegen Italien am 24. Juni (ab 20.45 Uhr, live in der ARD). Beide Spiele finden in Krakau statt.

Fürs Halbfinale qualifizieren sich die Sieger aus den Gruppen A, B und C sowie der beste Zweite aus den drei Gruppen. Die Semifinalpartien werden am 27. Juni in Tychy und Krakau ausgetragen, das Finale steigt am 30. Juni (ab 20.45 Uhr, live in der ARD) in Krakau. Hier können Fans noch Tickets für alle 21 Partien der EM erwerben.</p>
		</div>
	</div>
	<div id="page10" ng-show="page10">
		<img class="content_img" src="img/News10.jpg" />
		<div class="content_name">{{name10}}</div>
		<div class="content_all">
			<p>Wichtige Punkte in der WM-Qualifikation sammeln und sich für den eine Woche später beginnenden Confed Cup einspielen - so lauten die Aufgaben für die deutsche Nationalmannschaft für das Länderspiel gegen San Marino am Samstag (ab 20.45 Uhr). Der Vorverkauf für die Partie im Stadion Nürnberg ist auf der Zielgeraden. Karten können online oder über die DFB-Tickethotline (Telefon: 069 / 65 00 85 00) bestellt werden. Tickets sind in vier Kategorien erhältlich und kosten zwischen 25 Euro und 80 Euro. Ermäßigte Tickets und Kinderkarten sind nicht mehr verfügbar.

Eintrittskarten für Rollstuhlfahrer plus einer Begleitperson sind für 10 Euro zu haben. Das Bestellformular kann hier abgerufen werden. Bestellung inklusive Kopie des Ausweises bitte per Mail an ticket-service@mein.dfb.de senden.

Der DFB warnt vor dem Erwerb von Tickets bei nicht autorisierten Anbietern!</p>
		</div>
	</div>
</div>
